name: "Run build and deploy"

on:
  push:
    branches: [ 'master' ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Execute image build and push
        run: |
          docker build -t ghcr.io/pcvolkmer/mv64e-kafka-to-rest-gateway .
          docker push ghcr.io/pcvolkmer/mv64e-kafka-to-rest-gateway